Client/Client/Connected Services/ServiceReference2/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Question" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Question" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Que" nillable="true" type="tns:Que" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQue" nillable="true" type="tns:ArrayOfQue" />
  <xs:complexType name="Que">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionVal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Que" nillable="true" type="tns:Que" />
</xs:schema>