Client/Client/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Question/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Question/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Question/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Question" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllQuestions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:FindQuestion" />
  </wsdl:message>
  <wsdl:message name="IService1_FindQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestion" />
  </wsdl:message>
  <wsdl:message name="IService1_AddQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestion" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestion" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsCorrect_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCorrect" />
  </wsdl:message>
  <wsdl:message name="IService1_IsCorrect_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCorrectResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllQuestions" message="tns:IService1_GetAllQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllQuestionsResponse" message="tns:IService1_GetAllQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindQuestion" message="tns:IService1_FindQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindQuestionResponse" message="tns:IService1_FindQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddQuestion" message="tns:IService1_AddQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddQuestionResponse" message="tns:IService1_AddQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateQuestion" message="tns:IService1_UpdateQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateQuestionResponse" message="tns:IService1_UpdateQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteQuestion" message="tns:IService1_DeleteQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteQuestionResponse" message="tns:IService1_DeleteQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCorrect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsCorrect" message="tns:IService1_IsCorrect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsCorrectResponse" message="tns:IService1_IsCorrect_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllQuestions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindQuestion">
      <soap:operation soapAction="http://tempuri.org/IService1/FindQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQuestion">
      <soap:operation soapAction="http://tempuri.org/IService1/AddQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQuestion">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCorrect">
      <soap:operation soapAction="http://tempuri.org/IService1/IsCorrect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Question/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>