Client/Client/Connected Services/ServiceReference4/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Assignment/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assignment" />
  <xs:element name="AddExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Assignment" minOccurs="0" name="exam" nillable="true" type="q1:Exam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Assignment" minOccurs="0" name="GetExamResult" nillable="true" type="q2:Exam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostExamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPostedExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teacher" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPostedExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Assignment" minOccurs="0" name="GetAllPostedExamResult" nillable="true" type="q3:ArrayOfExam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teacher" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Assignment" minOccurs="0" name="GetAllExamResult" nillable="true" type="q4:ArrayOfExam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>