Client/Client/Connected Services/ServiceReference4/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Assignment/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Assignment/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Assignment/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assignment" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Assignment/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddExam_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExam" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteExam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExam" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExam" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostExam_InputMessage">
    <wsdl:part name="parameters" element="tns:PostExam" />
  </wsdl:message>
  <wsdl:message name="IService1_PostExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostExamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPostedExam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPostedExam" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPostedExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPostedExamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllExam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExam" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddExam" message="tns:IService1_AddExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddExamResponse" message="tns:IService1_AddExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteExam" message="tns:IService1_DeleteExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteExamResponse" message="tns:IService1_DeleteExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExam" message="tns:IService1_GetExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExamResponse" message="tns:IService1_GetExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostExam" message="tns:IService1_PostExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostExamResponse" message="tns:IService1_PostExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPostedExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPostedExam" message="tns:IService1_GetAllPostedExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPostedExamResponse" message="tns:IService1_GetAllPostedExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllExam" message="tns:IService1_GetAllExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllExamResponse" message="tns:IService1_GetAllExam_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddExam">
      <soap:operation soapAction="http://tempuri.org/IService1/AddExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExam">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExam">
      <soap:operation soapAction="http://tempuri.org/IService1/GetExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostExam">
      <soap:operation soapAction="http://tempuri.org/IService1/PostExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPostedExam">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPostedExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExam">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Assignment/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>